.container{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
margin-top: 300px;


}
.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.step-number{
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #ccc;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 5px;
z-index: 2;
text-align: center;
padding-bottom: 2px;

}
.step-name{
    font-size: 14px;
}

.active .step-number{
    background-color: #007bff;
    color: #fff;
}
.complete .step-number{
    background-color: #28a745;
    color:#fff;
}

.progressbar {
    position: absolute;
    top: 25%; 
    left: 0;
    height: 4px;
    background-color:#ccc;
  }
  
  .progress {
    height: 100%;
    background-color: #28a745;
    transition:  0.2s ease; 
  }
  